.Page--heading-wrapper {
  display: flex;
  align-items: center;
}

.Page--heading--0 {
  font-size: 40px;
  padding-right: 15px;
}

.Page--heading--1 {
  font-size: 30px;
}

.Page--heading--2 {
  font-size: 24px;
}

.Page--text {
  font-size: 14px;
  padding: 8px;
}

.TooltipInfo {
  width: 100%;
}
