.TooltipIcon--content,
.Tooltip--content {
  position: absolute;
  color: black;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
  z-index: 1000;
}

.TooltipIcon--content {
  top: 0;
  left: 25px;
}

.Tooltip--content {
  top: 25px;
  right: 0;
}

.Tooltip--content:hover {
  cursor: pointer;
}

.Tooltip--container {
  position: relative;
}
