* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.Header {
  background: #1b344c;
  height: 82px;
  color: white;
  padding: 2px 24px;
  position: relative;
}

.Body {
  display: flex;
  min-height: calc(100vh - 100px);
}

.Page {
  padding: 24px;
  width: calc(100vw - 440px);
  background: #ffffff;
}
